/* .slick-slider {
    height: 100%;
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.slick-slide {
    position: relative;
}

.slick-slide>div {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
} */